.panel-container{
    width: 100%;
    height: 1000px;
}

.panel-separator{
    float: left;
    width: 2px;
    background-color: #333;
    border-left: 1px #222 solid;
    border-right: 1px #222 solid;
    height: 100%;
}